.section__title {
    margin: 0 70px 0;
    padding: 110px 0 23px 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 768px) {
    .section__title {
        margin: 0 50px 0;
        padding-top: 90px;
    }
}

@media screen and (max-width: 320px) {
    .section__title {
        margin: 0 18px 0;
        padding: 70px 0 28px 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}