.search__container {
    display: flex;
    flex-direction: column;
    margin: 65px 70px 48px;
}

@media screen and (max-width: 768px) {
    .search__container {
        margin: 50px 30px 61px;
    }
}

@media screen and (max-width: 320px) {
    .search__container {
        margin: 50px 14px 51px;
    }
}