.profile__input {
  padding: 0;
  margin: 0;
  border: none;
  direction: rtl;
  border: none;
  background-color: #202020;
  color: #ffffff;
}

.profile__input:focus,
.profile__input:focus-visible,
.profile__input:active {
  outline: none;
}