.moviescardlist__container {
    max-width: 1280px;
    margin: 77px 0 30px;
    padding: 0 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px 24px;
}

@media screen and (max-width: 1088px) {
    .moviescardlist__container {
        gap: 17px 15px;
        grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .moviescardlist__container {
        padding: 0 30px;
        gap: 36px 30px;
        grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
        max-height: 1150px;
        overflow: hidden;
        margin-bottom: 65px;
    }
}


@media screen and (max-width: 564px) {
    .moviescardlist__container {
        grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
    }
}


@media screen and (max-width: 320px) {
    .moviescardlist__container {
        margin-top: 70px;
        padding: 0 10px;
        gap: 14px 0;
    }
}