.menu__box {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #0000004d;
  transition-duration: .25s;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
}

.popup_transition {
  transition: visibility 0.3s linear, opacity 0.3s linear;
}