.aboutproject__subtitle {
    margin: 0 0 26px 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .aboutproject__subtitle {
        margin: 0 0 22px 0;
    }
}

@media screen and (max-width: 600px) {
    .aboutproject__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 320px) {
    .aboutproject__subtitle {
        margin: 0 0 16px 0;
    }
}