.formauthentication {
  box-sizing: border-box;
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 456px) {
  .formauthentication {
    max-width: 100%;
    margin: 0;
    padding: 0 30px;
  }
}