.formauthentication__btn {
    max-width: 396px;
    height: 45px;
    background-color: #4285F4;
    border-radius: 3px;
    border: none;
    margin: 69px 0 16px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    transition: background-color .3s linear;
}

.formauthentication__btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .formauthentication__btn {
        margin-top: 69px;
    }
}

@media screen and (max-width: 320px) {
    .formauthentication__btn {
        max-width: 260px;
        padding: 15px 0;
        margin: 157px 0 14px;
        font-size: 12px;
        line-height: 15px;
    }
}