.footer__list {
    margin-left: 20px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
    transition: text-decoration .4s linear, opacity .4s linear, font-size .4s linear;
}



.footer__list:hover {
    font-size: 16px;
    text-decoration: underline;
    opacity: 0.4;
}

@media screen and (max-width: 450px) {
    .footer__list {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__list {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__list:hover {
        font-size: 15px;
    }
}