.movies-undefined {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .movies-undefined {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 320px) {
  .movies-undefined {
    font-size: 12px;
    line-height: 15px;
  }
}