.error__link {
    margin: 0;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    transition: color .3s linear, font-size .3s linear;
}

.error__link:hover {
    font-size: 30px;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .error__link {
        font-size: 12px;
        line-height: 15px;
    }
}