.profile__form {
    max-width: 410px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 16px;
}

@media screen and (max-width: 550px) {
    .profile__form {
        max-width: 320px;
    }
}

@media screen and (max-width: 370px) {
    .profile__form {
        max-width: 280px;
    }
}

@media screen and (max-width: 320px) {
    .profile__form {
        max-width: 260px;
    }
}