.aboutproject__row {
    display: flex;
    margin: 70px 70px 125px;
}

@media screen and (max-width: 768px) {
    .aboutproject__row {
        margin: 70px 50px 93px;
    }
}

@media screen and (max-width: 540px) {
    .aboutproject__row {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .aboutproject__row {
        margin: 60px 18px;
        flex-direction: column;
    }
}